.Header {
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TitleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.TitleWrapper img {
    height: 4rem;
    width: auto;
}

.TitleWrapper h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 2.5rem;
    display: inline;
    margin: unset;
    margin-left: 1rem;
}