.TextEditorWrapper {
    margin: 1rem;
    width: 40vw;
    height: auto;
    border: 1px solid #3474748c;
    border-radius: 5px;
    padding: 1rem;
}

textarea {
    width: 95%;
    padding: 0.5rem;
    border: 1px solid #63b7afaf; 
    border-radius: 5px;
    resize: none;
    height: 15rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

.CompileButton {
    margin-top: 0.8rem;
    height: 2.5rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ee8572;
    color: white;
    border-radius: 25px;
    border: 2px solid #ee8572;
    transition: all 0.4s ease;
    font-weight: 400;
    text-decoration: none;
}

.CompileButton:hover {
    color: #ee8572;
    background-color: white;
    cursor: pointer;
}


@media screen and (max-width: 700px) {
    .TextEditorWrapper {
      height: unset;
      width: 80vw;
    }
}