.App {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  color: #35495e;
  box-sizing: border-box;
}

.Compiler {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 700px) {
  .Compiler {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}