.ConsoleWrapper {
    margin: 1rem;
    width: 30vw;
    height: 370px;
    border: 1px solid #3474748c;
    border-radius: 5px;
    padding: 1rem;
    background-color: #347474;
    color: white;
    font-family: 'Comfortaa', cursive;
}

.Console {
    width: 97%;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Quicksand', sans-serif;
}

@media screen and (max-width: 700px) {
    .ConsoleWrapper {
      height: unset;
      width: 80vw;
    }
}